body * {
  font-family: 'futura_ltlight';
}

.tab-content:hover,
.burger-icon {
  cursor: pointer;
}

a:focus,
a:active,
a:hover {
   color: black;
}

button,
img {
   outline: none;
}

hr {
   max-width: none;
}

/***************************************   START HOME PAGE   ********************************/

.header-column {
   height: 78px;
   position: relative;
}

.header .row {
  padding: 6px 0;
}

.logo-column {
   width: auto;
   margin-top: 13px;
   z-index: 1;
   position: relative;
}

.wrapper-main-nav {
   width: auto;
}

.wrapper-main-nav.column:last-child:not(:first-child) {
   float: left;
}

.mobile-window .main-nav {
  display: none;
}

.mobile-window .main-nav li {
  display: block;
  text-align: center;
}

.main-nav {
   margin: 21px 0px;
   display: block;
}

.main-nav a {
   text-transform: uppercase;
   padding-bottom: 6px;
   font-family: Arial;
   color:  #878484;
   font-size: 14px;
   letter-spacing: 1.05px;
   text-align: center;
   text-decoration: none;
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.main-nav a:hover {
   -webkit-box-shadow: inset 0 -4px #878484;
   box-shadow: inset 0 -2px #878484;
}

.main-nav ul {
   margin: 0;
}

.main-nav li {
   display: inline-block;
   padding: 0 30px 0 0;
}

.header-image {
   height: auto;
   background-size: cover;
   background-position: 50% 50%;
   position: relative;
}

.header-image-home {
   height: 35vw;
   background-size: cover;
   background-position: 50% 50%;
   position: relative;
}

.header-image-center {
   width: 60%;
   position: absolute;
   top: 50%; 
   left: 50%; 
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -webkit-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%);
}

.header-image-right {
   float: right;
   margin-top: 1%;
}

.burger-icon {
   display: none;
   color: black;
   position: absolute;
   right: 3%;
   top: 21%;
}

/************   START SECTION ABOUT   ************/

.about {
   text-align: center;
   padding-bottom: 3.6%;
}

.home-main-title {
   color:  #000000;
   font-size: 41px;
   font-weight: 300;
   margin: 6% auto;
}

.about-first-text {
   color:  #4d4f50;
   font-size: 22px;
   line-height: 1.6;
   margin-bottom: 4%;
}

.about-first-img {
   outline: 1px solid #000;
   border: 46px solid #fff;
   height: 63vw;
}

.about-second-text {
   margin: 5% auto 4%;
   color:  #4d4f50;
   font-size: 22px;
   line-height: 1.6;
}

.about-second-img {
   outline: 1px solid #000;
   border: 38px solid #fff;
}

.about-position {
   margin-top: 3.9%;
}

.about h2 {
   color:  #4d4f50;
   font-size: 26px;
   line-height: 1.5;
   text-align: center;
   margin-bottom: 0;
}

/************   END SECTION ABOUT   ************/

/************   START FOOTER   ************/

footer {
   background-color: #282828;
   float: left;
   width: 100%;
   padding: 30px 0;
}

footer .sign-up {
   border-right: 1px solid white;
   padding: 34px 0 0 0;
}

footer .contacts {
   border-right: 1px solid white;
   padding-top: 34px 0 28px;
}

footer .social {
   padding-top: 34px 0 0 0;
}

footer h3 {
   color:  #ffffff;
   font-size: 24px;
   letter-spacing: 1.2px;
   font-weight: bold;
   text-align: center;
   margin-bottom: 52px;
}

.footer-p {
   color:  #ffffff;
   font-size: 16px;
   line-height: 25px;
   text-align: center;
   width: 240px;
   margin: 0 auto;
}

.footer-p:nth-of-type(2) {
   margin-bottom: 63px;
}

footer span {
   color:  #ffffff;
   font-size: 16px;
}

footer div.wpcf7 {
   width: 66%;
   margin: 60px auto 0;
}

.contacts .fa {
   color: white;
   margin-right: 10px;
}

.contacts .medium-4 {
   padding: 0;
}

.contacts .column {
   text-align: center;
}

.footer-social-icons {
   text-align: center;
   margin-top: 46px;
}

.social .wrapper-icon {
   margin-right: 12px;
   height: 53px;
   width: 53px;
   background: white;
   border-radius: 50%;
   display: inline-block;
   position: relative;
    -webkit-transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -ms-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
}

.social .wrapper-icon:hover {
   background-color: #9a9fa0;
}

.social .fa {
   color: black;
   position: absolute; 
   top: 50%; 
   left: 50%; 
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -webkit-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%);
}

/************   END FOOTER   ************/

/***************************************   END HOME PAGE   ********************************/

/***************************************   START CONTACT PAGE   ********************************/

.form {
   position: relative;
}

.form {
   width: 65%;
}

.tabbed {
   position: relative;
}

.form.row {
   margin: 0 auto;
}

.contact .small-12 {
   padding: 0;
}

.contact h2 {
   color:  #282828;
   font-size: 48px;
   text-align: center;
   margin: 6% 0;
}

.contact input,
.leave-review input,
textarea {
   background-color: #f4f5f4;
   border: 0;
}

.contact textarea,
.leave-review textarea{
   margin-bottom: 45px;
}

.form-title {
   color:  #4d4f50;
   font-size: 24px;
}

.contact .wpcf7-form-control-wrap,
.leave-review .wpcf7-form-control-wrap {
   width: 73%;
}

.submit-button {
   background-image: url(./../images/submit-button.png);
   width: 121px;
   height: 121px;
   margin: 0 auto;
   display: block;
   position: relative;
}

.submit-button:after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: -2px;
   left: -2px;
   border-radius: 50%;
   transition: all 0.3s ease;
}

.submit-button:hover:after {
   transform: scale(1);
   box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

.button-image {
   width: 100px;
   height: 100px;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
   border: 2px solid #4d4f50;
}

span.wpcf7-not-valid-tip {
   color: #ce3333;
}

.tabbed ul.tabs {
   margin-bottom: 6%;
   border: 0;
   text-align: center;
   background: transparent;
}

.tabbed ul.tabs li:first-child {
   display: none;
}

.button-form {
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.button-form:hover{
   transform:scale(1) rotateZ(20deg);
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.button-form:hover .button-image {
   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -ms-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

.tabbed ul.tabs li {
   display: inline-block;
}

.tabbed div.t2, .tabbed div.t3, .tabbed div.t4 {
   display: none;
}

/***************************************   END CONTACT PAGE   ********************************/

/***************************************   START REVIEWS PAGE   ********************************/

.reviews-title {
   color:  #282828;
   font-size: 48px;
   text-align: center;
   margin: 5% 0;
}

.reviews .row {
   max-width: 80%;
}

.reviews .row .review {
   padding: 0;
}

.review:nth-child(even) {
   float: right;
}

.reviews p {
   color:  #4d4f50;
   font-size: 25px;
   line-height: 1.5;
   text-align: center;
}

.reviews p strong,
.review-author span {
   font-size: 31px;
   font-weight: 400;
}

.review-author {
   width: 80%;
   margin: 0 auto;
}

.review-author span:nth-child(2) {
   float: right;
}

.reviews hr {
   margin: 5% 0;
}

.review-button {
   display: block;
   text-align: center;
   margin: 10px 0 3%;
}

.visit-the-sites {
   color:  #282828;
   font-size: 30px;
   text-align: center;
}

.reviews-social-icons.row {
   margin: 3.5% auto 5.3%;
   display: table;
}

.reviews .row.expanded {
   max-width: none;
}

.additional-sites {
   padding-left: 0;
   text-align: center;
   padding-right: 26px;
   height: 68px;
   line-height: 68px;
}

.additional-sites a img{
   height: 3vw;
}

.additional-sites:last-child {
   border: 0;
   margin-right: 0;
   padding-right: 0;
}

/***************************************   END REVIEWS PAGE   ********************************/

/***************************************   START LEAVE A REVIEW PAGE   ********************************/

.leave-review h1 {
   color:  #282828;
   font-size: 48px;
   text-align: center;
   margin: 5% 0;
}

.visit-the-sites {
   border-top: 1px solid #d4d8d8;
   border-bottom: 1px solid #d4d8d8;
   padding: 28px 0;
   width: 641px;
}

/***************************************   START LEAVE A REVIEW PAGE   ********************************/

/***************************************   START BLOG PAGE   ********************************/

.blog {
   padding-top: 11%;
}

.blog-single {
   padding: 0;
}

.blog-content {
   width: 67%;
   margin: 0 0 0 8%;
   padding-right: 7%;
   overflow-y: scroll;
   height: 175vh;
   text-align: center;
   float: left;
}

.blog-single-content {
   height: auto;
}

.post-title,
.archive-post-title {
   color:  #000000;
   font-size: 40px;
   margin-top: 7.8%;
   display: block;
   width: 100%;
}

h1.post-title {
   margin: 0;
}

h2.post-title:hover {
   font-weight: bold;
}

.blog-content a:first-of-type .post-title {
   position: absolute;
   margin-top: -5%;
   left: 38%;
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -webkit-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%);
}

.blog-content a:first-of-type hr{
   display: block;
   width: 59%;
   color: #d4d8d8;
   height: 1px;
   position: absolute;
   margin-top: -2%;
   left: 38%;
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.blog-content hr {
   width: 59%;
}

.post-content,
.post-single-content {
   color:  #4d4f50;
   font-size: 22px;
   border-top: 1px solid #d4d8d8;
   padding-top: 3.5%;
   margin-top: 3.5%;
}

.post-content:first-of-type {
   border: 0;
   padding: 0;
   margin: 0;
}

.screen-reader-text {
   display: none;
}

/*load more post button*/
#true_loadmore{
   margin: 2em auto;
   width: 200px;
   background-color: #ddd;
   border-radius: 2px;
   display: block;
   text-align: center;
   font-size: 15px;
   font-weight: bold;
   letter-spacing: 3px;
   cursor: pointer;
   text-transform: uppercase;
   padding: 10px 0;
   transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

#true_loadmore:hover{
   background-color: #767676;
   color: #fff;
}
 /***/

.nav-previous {
   float: left;
   margin: 2em 0;
}

.nav-previous .nav-subtitle {
   text-align: left;
}

.nav-previous .nav-title-icon-wrapper {
   float: left;
   padding-right: 10px;
}

.nav-next {
   float: right;
   margin: 2em 0;
}

.nav-next .nav-subtitle {
   text-align: right;
}

.nav-next .nav-title-icon-wrapper {
   padding-left: 10px;
}

.nav-title {
   color: black;
   padding-bottom: 6px;
}

.nav-subtitle {
   color: #767676;
   display: block;
   font-weight: bold;
   letter-spacing: 0.1818em;
   margin-bottom: 1em;
   text-transform: uppercase;
}

.nav-previous:hover .nav-title,
.nav-next:hover .nav-title {
   border-bottom: 2px solid black;
}

.sidebar {
   float: right;
   width: 20%;
}

.sidebar .widget-title {
   border-top: 1px solid #d4d8d8;
   border-bottom: 1px solid #d4d8d8;
   display: inline-block;
   color:  #000000;
   font-size: 24px;
   text-transform: uppercase;
   padding: 22px 10px;
   margin: 42px 0;
}

.sidebar li:first-child .widget-title {
   margin-top: 0;
}

.sidebar > li {
   list-style-type: none;
}

.sidebar li ul li {
   margin-bottom: 10px;
}

.sidebar li ul li a {
   font-size: 18px;
   text-align: left;
   color: black;
}

.sidebar li ul li a:hover {
   font-weight: bold;
}

.archive-title {
   text-align: center;
}

.archive-page .nav-links {
   display: -webkit-inline-box;
   display: -moz-inline-box;
   display: -ms-inline-flexbox;
   display: -webkit-inline-flex;
   display: inline-flex;
}

.pagination .current {
   background: #b4c2c6;
}

/***************************************   END BLOG PAGE   ********************************/

/***************************************   START SERVICES PAGE   ********************************/

.services .main .column {
   display: inline-block;
   padding: 0;
   float: none;
   color:  #282828;
   font-size: 20px;
   margin: 3% 0;
}

.main-services .column {
   width: auto;
}

.services .main .column h3,
.services .main .column span {
   letter-spacing: 4.8px;
   font-size: 24px;
}

.services h1 {
   color:  #282828;
   font-size: 48px;
   text-align: center;
   letter-spacing: 1.13px;
   margin: 3% 0 2%;
}

.services hr {
   width: auto;
   margin: 3.5% auto;
}

.services-block {
   max-width: 80%;
}

.services h2 {
   color:  #282828;
   font-size: 24px;
   text-align: center;
   margin-top: 3%;
   letter-spacing: 4.8px;
}

.services h2.service-example-title {
   margin: 4.2% 0 6% 0;
}

.service-example {
   margin-bottom: 5%;
}

.service-example h3 {
   color:  #282828;
   font-size: 24px;
   letter-spacing: 4.8px;
   line-height: 2;
   margin: 0;
}

/***************************************   END SERVICES PAGE   ********************************/

/***************************************   START PORTFOLIO PAGE   ********************************/

.portfolio h1 {
   color:  #282828;
   font-size: 60px;
   text-align: center;
   letter-spacing: 1.41px;
   margin: 5.2% 0 6.1%;
}

.gallery {
   max-width: 80%;
}

.categories {
   display: table;
}

.tab-content.column {
   display: inline-block;
   padding: 0;
   width: auto;
}

.tab-content:hover {
   cursor: pointer;
}

.tab-content:first-child h3 {
   padding-left: 0;
}

.tab-content:last-child h3 {
   border: 0;
   padding-right: 0;
}

.tab-content h3 {
   border-right: 1px solid black;
   padding: 0 48px;
   color:  #282828;
   font-size: 24px;
   margin: 0;
}

.tab-content h3:hover {
   font-weight: bold;
}

.portfolio hr {
   max-width: 95%;
   margin: 3.4% auto 2.3%;
}

.portfolio .main {
   width: 100%;
}

.main .row {
   margin: 0;
   padding: 0;
   text-align: center;
}

.portfolio .main .column {
   width: 19%;
   display: inline-block;
   margin: 0;
   padding: 0;
   float: none;
   margin-bottom: 22px;
}

.portfolio .main .column img {
   height: 21vw;
   width: auto;
}

:focus {
   outline-color: white;
}

.fancybox-slide--image .fancybox-close-small {
   top: -29px;
   right: -12px;
}

.fancybox-close-small:focus:after {
   outline: none;
}

/***************************************   END PORTFOLIO PAGE   ********************************/

@media only screen and (min-width: 641px) {
   .main-services .column {
      width: 42%;
   }

   .service-example .column:nth-child(even) {
      text-align: right;
   }

   .tab-content h3 {
      letter-spacing: 4.8px;
   }

   .services hr {
      width: 62%;
   }
}

@media only screen and (max-width: 1715px) {
   .contacts .column {
      width: 100%;
   }
}

@media only screen and (max-width: 1364px) {
   .about-first-img {
      height: 53vw;
   }

   .social .wrapper-icon {
      margin-right: 12px;
      height: 30px;
      width: 30px;
   }

   .reviews p {
      font-size: 20px;
   }

   .review-author {
      width: 100%;
   }

   .reviews p strong,
   .review-author span {
      font-size: 25px;
   }

   .additional-sites {
      margin-right: 26px;
   }
}

@media only screen and (max-width: 1024px) {
   .logo-column {
      margin-top: 0;
   }

   .custom-logo {
      height: 120px;
      width: 120px;
   }

   .main-nav {
      position: absolute;
      right: 50px;
      z-index: 1;
      top: -5px;
   }

   .mobile-window .main-nav li {
      text-align: right; 
   }

   .mobile-window .main-nav li a {
      color: black;
      font-weight: bold;
   }

   .burger-icon {
      display: inline-block;
   }

   footer {
      padding: 0 0 30px 0;
   }

   footer h3 {
      margin-bottom: 20px;
      margin-top: 20px;
   }

   footer div.wpcf7 {
      margin-top: 30px;
   }

   footer div.wpcf7 input,
   footer div.wpcf7 p {
      margin-bottom: 0px;
   }

   .footer-p:nth-of-type(2) {
      margin-bottom: 27px;
   }

   footer .social {
      padding: 0;
   }
   
   .home-main-title,
   .reviews-title,
   .services h1,
   .portfolio h1,
   .blog-content a:first-of-type .post-title,
   .contact h2,
   .leave-review h1 {
      font-size: 28px;
   }

   .post-title,
   .archive-post-title {
      font-size: 24px;
   }

   .about-first-text,
   .about-second-text,
   .reviews p,
   .post-content,
   .post-single-content,
   .form-title,
   .visit-the-sites,
   .about h2 {
      font-size: 17px;
   }

   .about-first-img,
   .about-second-img  {
      border: 24px solid #fff;
   }

   .additional-sites {
      padding: 0;
      margin: 0;
   }

   .additional-sites a img {
      height: 4vw;
   }

   .tab-content h3 {
      padding: 0 24px;
   }

   .services-block {
      max-width: 90%;
   }

   .services .main .column {
      padding: 0 5%;
   }

   .service-example {
      width: 90%;
   }

   .service-example h3 {
      font-size: 17px;
   }

   .portfolio .main .column {
       width: 24%;
   }

   .portfolio .main .column img {
      height: 25vw;
   }

   .blog-content {
      width: auto;
      float: none;
   }


   .blog-content a:first-of-type .post-title,
   .blog-content a:first-of-type hr {
      left: 50%;
   }

   .sidebar {
      text-align: center;
      display: table;
      float: none;
      width: 90%;
      margin: 0 auto;
   }

   .sidebar > li {
      display: table-cell;
      width: 36%;
   }

   .sidebar li {
      list-style-type: none;
   }

   .sidebar li ul {
      margin: 0;
   }

   .tabbed ul.tabs li {
      margin: 0 3%;
   }

   .reviews p strong,
   .review-author span {
      font-size: 21px;
   }
}


@media only screen and (max-width: 640px) {

   .logo-column {
      margin: 0;
      padding: 0;
   }

   .custom-logo {
      height: 65px;
      width: 65px;
   }

   .main-nav {
      right: 40px;
   }

   .burger-icon {
      right: 15px;
   }

   .about-first-img {
      height: 85vw;
   }

   .about-second-img {
      height: 65vw;
   }

   .about-first-img,
   .about-second-img  {
      border: 0;
   }

   .reviews hr:first-child {
      margin: 0 0 5% 0;
   }

   .visit-the-sites {
      font-size: 19px;
      width: auto;
      padding: 18px 0;
   }

   .additional-sites a img {
      height: 5vw;
   }

   .services .main .column {
      font-size: 17px;
   }

   .service-example .column {
      text-align: center;
   }

   .services .main .column h3,
   .services .main .column span {
      font-size: 19px;
   }

   .tab-content h3 {
      padding: 0 10px;
      font-size: 15px;
   }

   .gallery {
      max-width: 90%;
   }

   .portfolio .main .column {
      width: 47%;
   }

   .portfolio .main .column img {
      height: 52vw;
   }

   .sidebar > li {
      display: block;
      width: 100%;
   }

   .form {
      width: 90%;
   }

   .contact textarea {
      margin-bottom: 6%;
   }

   .review-button {
      margin: 10px 0 25px;
   }

   .review-button-image {
      height: 28vw;
   }

   .blog {
      padding-top: 84px;
   }

   .blog-content a:first-of-type .post-title {
      margin-top: -47px;
   }

   .blog-content a:first-of-type hr {
      margin-top: -15px;
   }

   .nav-next,
   .nav-previous {
      float: none;
      display: table;
      margin: 2em auto;
   }

   .sidebar {
      margin: 25px auto;
   }

   .sidebar .widget-title {
      font-size: 17px;
      padding: 10px 10px;
      margin: 20px 0;
   }

   .sidebar li ul li a {
      font-size: 16px;
   }
}

@media only screen and (min-width: 1025px) {
   .header-image {
      height: 20vw;
   }

   footer .sign-up {
      width: 30%;
   }

   footer .contacts {
      width: 37%;
   }

   footer .social {
      width: 33%;
   }

   .additional-sites {
      width: auto;
      border-right: 1px solid black;
   }

   .main-services .column {
      width: 32%;
   }

   .service-example {
      width: 782px;
   }

   .tabbed ul.tabs {
      position: absolute;
      top: 32%;
      left: calc(75% + -1px);
      height: 192px;
      width: 254px;
   }

   .contact input,
   .contact textarea {
      margin-bottom: 45px;
   }

   .button-image {
      width: 9vw;
      height: 9vw;
   }

   .button-form:hover .button-image {
      width: 8.5vw;
      height: 8.5vw;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
   }

   .li2 {
      position: absolute;
      left: 0;
   }

   .li3 {
      position: absolute;
      top: calc(43% - -84px);
      left: 49%;
   }

   .contact .form,
   .leave-review .form {
      width: 55%;
      left: -7vw;
   }

   .contact .wpcf7-form-control-wrap,
   .leave-review .wpcf7-form-control-wrap {
      float: right;
   }

   .submit-button {
      position: absolute;
      right: -25%;
      top: 55%;
   }
}

@media only screen and (min-width: 1365px) {
   .social .fa {
      font-size: 37px;
   }

   .reviews .row .review {
      max-width: 44%;
   }

   .additional-sites {
      padding-right: 36px;
      margin-right: 36px;
   }

   .services .main .column {
      font-size: 24px;
      margin: 6% 0;
   }

   .services h1 {
      margin: 6% 0 5%;
   }

   .services h2 {
      margin-top: 6%;
   }

   .contact .form,
   .leave-review .form {
      width: 41%;
      left: -5vw;
   }

   .tabbed ul.tabs {
      position: absolute;
      left: calc(75% + -76px);
      height: 350px;
      width: 390px;
   }
}